* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #19181a;
  font-family: sans-serif, serif, 'Apple SD Gothic Neo';
}

button {
  border: none;
}

ul,
ol,
li {
  list-style: none;
}
